<ion-header>
  <ion-toolbar color="primary">

    <ion-title>IntelliPark</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Salir
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-card-header>

      <ion-card-title>
        Bienvenido, {{ user()?.user_first_name }}
      </ion-card-title>

      <ion-card-subtitle>
        Operación del parqueadero
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <ion-button
        expand="block"
        size="large"
        routerLink="/vehicle-entry"
      >
        Registrar vehículo
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        routerLink="/parking-info"
      >
        Información del parqueadero
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
